/*overall */
body {
  margin-left: 15%;
  margin-right: 15%;
}

/*index seite*/
.indexSite h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*top*/
.indexTop {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;

}

.indexTop h1 {
  flex: 1;
  text-align: center;
  font-size: 50px;
}
.shoppingcartPIC {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 10px;
}

.schnapsLOGO {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  width: 50px;
  height: 50px;
  background: #b5981a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}

#menuTop {
  display: none;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 180px;
  margin-top: 5px;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 9999;
}

#menuTop a {
  display: block;
  margin-top: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

/*index Schnaps Vorstellungoben*/
.indexSchnapsVorstellungen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.indexSchnapsVorstellungen img {
  width: 320px;
  height: 320px;
  border-radius: 20px;
}

.indexSchnapsVorstellungen button {
  width: 40px;
  height: 40px;
}

/* Einleitung Schnapsbrennerei und kurze Beschriebung*/
.indexEinleitungSchnapsbrennerei {
  display: flex;
  border-radius: 20px;
}
.indexEinleitungSchnapsbrennerei p {
  padding: 50px 50px 50px 50px;
}
.schnapsbrennereiPIC {
  height: 600px;
  width: 700px;
  border: solid 4px;
  border-radius: 20px;
}
.indexEinleitungSchnapsbrennereiPictureAndP {
  flex-direction: column;
}
.indexEinleitungSchnapsbrennereiPictureAndP p {
  padding: 0%;
  float: right;
}

/* Einleitung 1 Schnapsbrennerei und kurze Beschriebung*/
.index1EinleitungSchnapsbrennerei {
  display: flex;
  border-radius: 20px;
}
.index1EinleitungSchnapsbrennerei p {
  padding: 50px 50px 50px 50px;
}
.schnapsbrennerei1PIC {
  height: 600px;
  width: 700px;
  border: solid 4px;
  border-radius: 20px;
}
.index1EinleitungSchnapsbrennereiPictureAndP {
  flex-direction: column;
}
.index1EinleitungSchnapsbrennereiPictureAndP p {
  padding: 0%;
  float: left;
}
