/*overall */
body {
  margin-left: 2%;
  margin-right: 2%;
  background-color: beige;
}

/*index seite*/
.indexSite h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*top*/
.indexTop {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.indexTop h1 {
  flex: 1;
  text-align: center;
  font-size: 50px;
}
.shoppingcartPIC {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 10px;
}

.schnapsLOGO {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

/*menu top*/
#menuTop a {
  display: flex;
  gap: 40px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/*index Schnaps Vorstellungoben*/

.indexSchnapsVorstellungh1 {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexSchnapsVorstellungen {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 40px;
}

.indexSchnapsVorstellungen img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
}

.indexSchnapsVorstellungen button {
  width: 60px;
  height: 60px;
  border-radius: 90px;
  background-color: burlywood;
  font-size: 30px;
}

.indexSchnapsVorstellungp {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Einleitung Schnapsbrennerei und kurze Beschriebung*/
.indexEinleitungSchnapsbrennerei {
  width: 700px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  gap: 30px;
}
.schnapsbrennereiPIC {
  border-radius: 20px;
}
.indexEinleitungSchnapsbrennereiOverall {
  display: flex;
  gap: 50px;
}
.indexEinleitungSchnapsbrennereiPictureAndP {
  flex-direction: column;
}
/* Einleitung 1 Schnapsbrennerei und kurze Beschriebung*/

/*bottom */
.bottom {
  background-color: darkgoldenrod;
  padding: 67px 50px 0px 0px;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 95, 5%;
  gap: 190px;
  font-size: 20px;
  border-radius: 10px;
}

.bottomKontakt {
  font-size: 23px;
}
/*
.bottomFind {
}

.bottomAllSites {
}

.bottomWeiteres {
}
*/

/*liqour schnapse*/
.liqourSchnapse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  height: 400px;
  width: 350px;
  border-radius: 10px;
  gap: 10px;
  margin-top: 30px;
}

.liqourButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 30px;
}
.liqourSchnapse img {
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
.liqourSchnapsWapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
}

/*schnaps inside*/
.liqourSchnapsInside {
  display: flex;
  align-items: center;
  gap: 20px;
}
.liqourSchnapsInside img {
  width: 700px;
  height: 800px;
  margin-left: 150px;
  margin-top: 50px;
}

.liqourSchnapsInsideBeschreibung {
  border: 3px black solid;
  border-radius: 20px;
  padding: 40px;
  width: auto;
  height: auto;

}
